@charset "UTF-8";

/*
MOBILE FIRST
se vc ta lendo isso e pq vazou alguma coisa
esse e a versão para mobile*/

* {
    margin: 0px;
    padding: 0px ;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body {
    width: 97vw;
    height: 100vh;
    margin: 0px auto;
    overflow-x: hidden;
    
}
div#logomenu{
    margin-top: 3px;
    width: 97%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    
}
i#burguer{
    cursor: pointer;
    padding: 10px;
    margin: 0px auto
}

 img.logo {
    
    width:45px;
    height:45px;
}
#imenu {
    display: none;

}
  header {
     max-width: 450px;
     margin: 0px auto;
  }
  

header > h1, header > p {
    text-align: center;
    font-variant: small-caps;
    
}
header > img {
   padding-top: 5px;
   margin: 0px auto;
   width: 90%;
   display: block;
   
}
header > button {
    cursor: pointer;
    display: block;
    background-color: #00c100;
    border: 0px;
    color: white;
    padding: 8px;
    font-size:22px;
    font-weight: bolder;
    margin: 0px auto;
    box-shadow:3px 3px 8px rgba(0, 0, 0, 0.397) ;
    border-radius: 12px;
}

header > button:hover {
    background-color: white;
    border: 1px solid black;
    color:black;

    box-shadow: none;
}
section#produtos {
    text-align: center;
    width: 80%;
    margin: 0px auto;
    padding-bottom: 16px;
    
}
article#artflex {
    
    justify-content: space-around;
    justify-items:space-evenly;
    align-content: space-around;
    display: flex;
    flex-flow: row wrap;
    align-items:flex-start;
    
}
div.maquininha {
    
    max-width: 400px;
    flex-basis: 300px;
    padding: 10px;
    margin: 0px auto;
    text-align: center;
    border: 1px solid grey;
    border-radius: 13px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.375);
}
div.maquininha > img {
    width: 20%;
}
div.maquininha  s {
    color: grey;
    font-size: 20px;
    font-style: oblique;
}
div.maquininha h2 {
    color: #00ff00;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding: 5px;
    
}
div.maquininha > button.compra {
    background-color: #ff6f00;
    color: white;
    border: 0px;
    margin: 10px;
    border-radius: 10px;
    font-size: 23px;
    padding: 5px;
    font-variant: small-caps;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.421);
}
div.maquininha > button.compra:hover {
    background-color: #ff8f33;
}
div.maquininha > ul {
    list-style: none;
    text-align: left;
    line-height: 26px;
    font-weight: bolder;
    text-align: justify;
}

button.info {
    font-size: 16px;
    padding: 2px;
    margin: 0px auto;
    margin-bottom: 20px;
}

div.vermais {
    display: none;
}
div.vermais > ul {
    list-style: none;
}
div.vermais li {
    padding: 5px;
}
div.vermais > ul > li > P {
    font-family: 'Courier New', Courier, monospace;
}



table.center {
    margin-top: 30px;
    border-collapse: collapse;
    overflow: scroll;
}
td, th {
    border: 1px solid black;
}
table tr:nth-child(even) {
    background-color: lightgray;
}