@charset "UTF-8";

/*
MOBILE FIRST
se vc ta lendo isso e pq vazou alguma coisa
esse e a versão para mobile*/

* {
    margin: 0px;
    padding: 0px ;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
}
i {
    
    padding: 10px;
    margin: 0px auto
}
div.logo {
   padding: 0px;
   margin: 0px ;
    

}
div.logo > img {
    display: block;
    position: absolute;
    top: 0px;
    left:88%;
    width:45px;
    height:45px;
}

.clear {
    clear: both;
}

header {
    background-color:#ffffff;
   
}
header > h1, header > p {
    text-align: center;
    font-variant: small-caps;
    
}
header > img {
   padding-top: 5px;
   margin: 0px auto;
   width: 94vw;
}
header > button {
    display: block;
    background-color: #00c100;
    border: 0px;
    color: white;
    padding: 8px;
    font-size:22px;
    font-weight: bolder;
    margin: 0px auto;
    
    border-radius: 12px;
}

table {
    border: 1px solid #00c100;
    margin-top: 10px;
    padding: 10px;
}
tr {
    padding-top: 5px;
}
